
.logo {
    display: flex;
    justify-content: center;
}

.logo__text {
    font-size: 30px;
    color: black;
}

.send {
    border: 0px;
    border-radius: 15px;
    background: orange;
    padding: 10px 60px;
    margin-bottom: 10px;
}


main {
    background-color: rgba(10,125,20,0.5);
    width: 100%;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.my_form input {
    padding: 10px 20px;
    margin-top: 10px;
}


.my_form {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgba(10,125,20,0.5);
}

